# Ignora a pasta node_modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios temporários
tmp/
temp/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Ambiente (se usar dotenv)
.env
.env.*.local

# Cache de ferramentas
.cache/
dist/
build/
